html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.logo{
  font-size: 50px;
  color: white;
  margin-top:0px;
  margin-bottom: 10px;

}

.tagline{
  font-size: 24px;
  color:white;
}

body{
  background-image:url(/img/bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.main{

  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

button{
   background-color: blueviolet;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 4px;
   cursor : pointer;
}

button:hover{
  background: white;
  color:blueviolet;
}
